__pycache__/
*.pyc
venv/
.venv/
.env
.idea/
.vscode/

# Ignore all user data, logs, and databases
data/*
!data/app_catalog.json
!data/app_settings.json
!data/demo.png
!data/demo1.png
!data/demo2.png
!data/demo4.png
*.db
*.log
*.zip
docker_data/

# Installers and Scripts (if you want to ignore any)
create_package.py
verify_update_check.py

# =========================
# Security & Sensitive Data
# =========================
admin_id.txt
orders_db.json
security_config.json
telegram_config.json
_seller_tools/
keygen.py
admin_keygen_gui.py
license_manager.py
utils/license.py
